<h2>Какой нибудь сексуальный заголовок</h2>
<p>Долгий и ненужный текст с какой то дребеденью, непостредственно перед кодом подтверждения <b style="color: #f00">{{ code }}</b> который <s>можно всунуть себе в жеппу</s> нужно отправить на сервер, дабы убедить эту железяку бездушную в том, что ты являешься владельцем этого убогого почтового ящика, на который, в принципе, ничего и не приходит, кроме подобной ереси</p>