<h2>Поздравлябля, вы только что подписались на {{ channel_title }}</h2>
<p>Какая нибудь дополнительная ересь, дабы убедить человека в серьезности и правильности его поступка, пару пожеланий и кучу денег</p>
<p>И тут же ссылка на отпиську канала если оно ему уже не надо и это все же была моментная ошибка суждения</p>