/* Add here all your CSS customizations */

label.error-input-msg {
    position: absolute;
    bottom: -10px;
    left: 20px;
    background: #fff;
    padding: 0px 1px;
    color: #a94442;
    font-size: 12px;
    margin: 0;
    cursor: pointer;
}
.form-wizard div.steps {
    margin: -20px -20px 0;
    margin-bottom: 20px;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.form-wizard div.steps > ul {
    padding: 0;
    margin: 0;
}
.form-wizard div.steps > ul > li {
    display: inline-block;
    margin-left: 15px;
}
.form-wizard div.steps > ul > li:first-child {
    margin: 0;
}
.form-wizard div.steps > ul > li a {
    color: #2e353e
}

.form-wizard footer.actions {
    margin: 20px -20px -20px;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.form-wizard footer.actions ul {
    margin: 0;
    padding: 0;
}
.form-wizard footer.actions ul > li {
    display: inline-block;
}
.form-wizard footer.actions a {
    background-color: #17a2b8;
    border-color: #17a2b8 #17a2b8 #117a8b;
    color: #FFF;
    font-size: 0.9rem;
    padding: 0.47rem 0.75rem;
    cursor: pointer;
}
.form-wizard footer.actions a:hover {
    text-decoration: none;
}
.form-wizard footer.actions li:not(.disabled) a:hover {
    background-color: #1bc0da;
    border-color: #1fc8e3 #1fc8e3 #17a2b8;
    color: #FFF;
}
.form-wizard footer.actions li.disabled a {
    cursor: not-allowed;
}

.form-wizard.channel-wizard > .content {
    min-height: 245px;
}
.form-wizard.channel-wizard section .form-group:last-child {
    margin-bottom: 0;
}
.form-wizard.channel-wizard .description-wrap {
    margin: -20px 0 0 0;
}
.form-wizard.channel-wizard .ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #ccc;
}
.form-wizard.channel-wizard .ql-container.ql-snow {
    border-left: none;
    border-right: none;
}